.createGame-cnt {
    background-color: #363636;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    color: #F2F2F2;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.createGame-cnt-title {
    /* background-color: #a945c71c; */
    width: 90%;
    height: auto;
    margin: .6em auto;
    padding: .5em 0;
}

.createGame-cnt-title h1 {
    font-size: 2em;
}

.createGame-cnt form {
    /* background-color: rgba(255, 255, 255, 0.049); */
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.108);
    width: 90%;
    height: auto;
    margin: 0 auto;
    color: #FFE600;
    font-weight: bolder;
}

.form-name {
    /* background-color: rgba(255, 0, 0, 0.276); */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .8em .4em;
}

.form-name label {
    font-size: 1.2em;
    display: inline-block;
}

.form-name input {
    width: 100%;
    margin: .2em auto;
    height: 2.5em;
    border: none;
    outline: none;
    border-radius: 16px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.337);
    padding: .5em;
}

.form-name p {
    color: rgb(190, 0, 0);
    font-size: 1.2em;
    font-weight: bold;
}

.form-released {
    /* background-color: rgba(60, 255, 0, 0.276); */
    height: auto;
    width: 100%;
    margin: .6em 0;
    display: flex;
    flex-direction: column;
    padding: .8em .4em;
}

.form-released label {
    font-size: 1.2em;
    display: inline-block;
}

.form-released input {
    width: 100%;
    margin: .2em auto;
    height: 2.5em;
    border: none;
    outline: none;
    border-radius: 16px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.337);
    padding: .5em;
}

.form-rating {
    /* background-color: rgba(255, 0, 238, 0.276); */
    height: auto;
    width: 100%;
    margin: .6em 0;
    display: flex;
    flex-direction: column;
    padding: .8em .4em;
}

.form-rating label {
    font-size: 1.2em;
    display: inline-block;
}

.form-rating input {
    width: 100%;
    margin: .2em auto;
    height: 2.5em;
    border: none;
    outline: none;
}

.form-description {
    /* background-color: rgba(0, 229, 255, 0.276); */
    height: auto;
    width: 100%;
    margin: .6em 0;
    display: flex;
    flex-direction: column;
    padding: .8em .4em;
}

.form-description label {
    font-size: 1.2em;
    display: inline-block;
}

.form-description textarea {
    width: 100%;
    margin: .2em auto;
    height: 6em;
    border: none;
    outline: none;
    border-radius: 16px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.337);
    padding: .5em;
}

.form-description  p {
    color: rgb(190, 0, 0);
    font-size: 1.2em;
    font-weight: bold;
}

.form-genres {
    /* background-color: rgba(255, 183, 0, 0.276); */
    height: auto;
    width: 100%;
    margin: .6em 0;
    display: flex;
    flex-direction: column;
    padding: .8em .4em;
}

.form-genres label {
    font-size: 1.2em;
    display: inline-block;
}

.form-genres select {
    width: 100%;
    margin: .2em auto;
    height: 2.5em;
    border: none;
    outline: none;
    border-radius: 16px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.337);
    padding: .5em;
}


.form-platforms {
    /* background-color: rgba(0, 255, 8, 0.276); */
    height: auto;
    width: 100%;
    margin: .6em 0;
    display: flex;
    flex-direction: column;
    padding: .8em .4em;
}

.form-platforms label {
    font-size: 1.2em;
    display: inline-block;
}

.form-platforms select {
    width: 100%;
    margin: .2em auto;
    height: 2.5em;
    border: none;
    outline: none;
    border-radius: 16px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.337);
    padding: .5em;
}

.form-image {
    /* background-color: rgba(0, 30, 255, 0.276); */
    height: auto;
    width: 100%;
    margin: .6em 0;
    display: flex;
    flex-direction: column;
    padding: .8em .4em;
}

.form-image label {
    font-size: 1.2em;
    display: inline-block;
}

.form-image input {
    width: 100%;
    margin: .2em auto;
    height: 2.5em;
    border: none;
    outline: none;
    border-radius: 16px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.337);
    padding: .5em;
}

.select-opt {
    /* background-color: #FFE600; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.genres-opts {
    /* background-color: red; */
    background-color: #0058DD;
    width: 48%;
    height: auto;
    margin: .5em 0;
    box-shadow: 1px 2px 5px .5px #9b95684f;
    color: #F2F2F2;
    padding: 0;
    display: flex;
}




.genres-opts button {
    /* background-color: #F2F2F2; */
    width: 25%;
    min-height: 3em;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.genres-opts span {
    /* background-color: #26a495; */
    width:75%;
    min-height: 2.5em;
    padding: .5em;
}

.form-buttons {
    height: auto;
    width: 100%;
    margin: .6em 0;
    display: flex;
    flex-direction: column;
    padding: .8em .4em;
}