.paginate-cnt {
    /* background-color: #a7c7ff; */
    padding-top: 7vh;
    width: 80%;
    height: 10em;
    margin: 0 auto;
}

.nav-paginate--ul{
    /* background-color: red; */
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.nav-paginate-cnt {
    /* width: 4em; */
    /* margin: 0 .5em; */
    /* padding: .1em 0; */
    background-color: orange;
    /* padding: em 0; */
}

.nav-paginate-cnt--list {
    /* background-color: #ccc; */
    box-shadow: 1px 2px 4px 1px  rgba(204, 204, 204, 0.255);
    border: none;
    width: 3em;
    height: 3em;
    cursor: pointer;
    transition: .5s;
    color: #363636;
    
}

.nav-paginate-cnt--list:hover {
    background-color: #ccc;
    transition: .5s;
}

.selected {
    transform: scale(120%);
    z-index: -1;
    font-weight: bolder;
}
