.landing-cnt {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #363636;
    padding: 1em 0;
}


.landing-tit_cnt {
    /* background-color: rgba(65, 102, 135, 0.795); */
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
}


.landing-tit_cnt h1{
    /* background-color: #a945c7; */
    width: 100%;
    height: auto;
    font-size: 3em;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 1.2em 0;
}

.landing-cnt_images {
    background-color: rgb(73, 73, 73);
    width: 90%;
    height: 40vh;
    margin: 1em auto;
    border-radius: 21px;
}

.landing-cnt_button {
    /* background-color: #4550c7; */
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 1em 0; 
    display: flex;
    flex-direction: column;

}

