.social-list--icon {
    /* background-color: blue; */
    width: 7em;
    height: 7em;
    margin: 1em;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid #F2F2F2;
}

.social-list--icon:hover {
    transform: scale(105%);
    transition: .6s;
    box-shadow: 2px 2px 4px 2px #0000005f;
}

.social-list--icon img {
    width: 100%;
}