.filter-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: .5em 0;
    background-color: rgba(255, 255, 255, 0.015);
}


.select-order {
    /* background-color: orange; */
    /* width: 20%; */
    height: 5em;
    padding: .5em 0;
    /* margin: 0 auto; */

}

.select-filter-create {
    /* background-color: bisque; */
    /* width: 20%; */
    height: 5em;
    padding: .5em 0;
}


.select-filter-genres {
    /* background-color: blueviolet; */
    /* width: 20%; */
    height: 5em;
    padding: .5em 0;
}

.select-order--group {
    background-color: rgba(0, 0, 0, 0.116);
    border: 0;
    outline: none;
    height: 4em;
    width: 10em;
    font-size: 1em;
    color: rgb(255, 255, 255);
} 

.select-order--group option {
    background-color: #39284d;
    color: #fff;
}







.navbar-cnt_create {
    /* background-color: brown; */
    width: 30%;
    height: 5em;
    padding: .5em 0;
}

.navbar-cnt_clear {
    /* background-color: yellow; */
    width: 30%;
    height: 5em;
    padding: .5em 0;
}

.navbar-cnt--button {
    border: none;
    width: 12em;
    height: 4.5em;
    border-radius: 20px;
    font-size: .9em;
    font-weight: bold;
    background-color: #ff3491;
    cursor: pointer;
}

.navbar-cnt_clear .navbar-cnt--button {
    background-color: rgba(255, 255, 255, 0.557);
    color: #000;
}

/* 800px para adelante */
@media (min-width: 800px) {
    .filter-cnt {
        display: flex;
        flex-direction: row;
        width: 100%;
        /* background-color: #39284d; */
        /* background-color: red; */
    }
    
    .select-order--group {
        background-color: rgba(255, 255, 255, 0.015);
        border: 0;
        outline: none;
        height: 4em;
        width: 10em;
        font-size: 1em;
        color: rgb(255, 255, 255);
    } 
    
    .select-order--group option {
        background-color: #39284d;
        color: #fff;
    }
    
    .select-order {
        /* background-color: orange; */
        width: 20%;
        height: 5em;
        padding: .5em 0;
    
    }
    
    .select-filter-create {
        /* background-color: bisque; */
        width: 20%;
        height: 5em;
        padding: .5em 0;
    }
    
    .select-filter-genres {
        /* background-color: blueviolet; */
        width: 20%;
        height: 5em;
        padding: .5em 0;
    }
    
    .navbar-cnt_create {
        /* background-color: brown; */
        width: 30%;
        height: 5em;
        padding: .5em 0;
    }
    
    .navbar-cnt_clear {
        /* background-color: yellow; */
        width: 30%;
        height: 5em;
        padding: .5em 0;
    }
    
    .navbar-cnt--button {
        border: none;
        width: 12em;
        height: 4.5em;
        border-radius: 20px;
        font-size: .9em;
        font-weight: bold;
        background-color: #ff3491;
        cursor: pointer;
    }
    
    .navbar-cnt_clear .navbar-cnt--button {
        background-color: rgba(255, 255, 255, 0.557);
        color: #000;
    }
    
}