.gameDetail-cnt {
    /* background-image: url(../../images/bgImage.png); */
    background-color: #363636;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding-top: 5vh;
}

.detail-cnt--general {
    /* background-color: rgba(245, 245, 220, 0.495); */
    width: 90%;
    margin: 0 auto;
}

.detail-cnt-img {
    /* background-color: #ff348ff2; */
    width: 100%;
}

.detail-cnt-img img {
    width: 100%;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.459);
}


.detail-cnt-name {
    /* background-color: brown; */
    width: 100%;
    height: auto;
}

.detail-cnt-name h1 {
    font-size: 2.2em;
    color: #F2F2F2;
}

.detail-cnt-genres {
    /* background-color: chocolate; */
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1em;
    color: #F2F2F2;
}

.detail-cnt-genres h2 {
    font-size: 1.6em;
}

.detail-cnt-genres p {
    font-size: 1.2em;
}

.detail-cnt-description {
    /* background-color: cadetblue; */
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1em;
    color: #F2F2F2;
}

.detail-cnt-description h2 {
    font-size: 1.6em;
}

.detail-cnt-description p {
    font-size: 1.1em;
}

.detail-cnt-released {
    /* background-color: darksalmon; */
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1em;
    color: #F2F2F2;
}

.detail-cnt-released h3 {
    font-size: 1.6em;
}

.detail-cnt-released span {
    font-size: 1.3em;    
}

.detail-cnt-released p {
    font-size: 1.6em;
}

.detail-cnt-rating {
    /* background-color: violet; */
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1em;
    color: #F2F2F2;
}

.detail-cnt-rating h3 {
    font-size: 1.6em;
}

.detail-cnt-rating span {
    font-size: 1.3em;    
}

.detail-cnt-platforms {
    /* background-color: rgb(97, 73, 157); */
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1em;
    color: #F2F2F2;
}

.detail-cnt-platforms h3 {
    font-size: 1.6em;
}

.detail-cnt-platforms p {
    font-size: 1.3em;
}