.allGames {
    /* background-color: rgb(191, 98, 98); */
    width: 90%;
    margin: 0 auto;
    display: inline-block;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.allGames-cnt {
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.427); */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    
    /* column-gap: 15em; */   
}

.allGames-cnt--link {
    text-decoration: none;
    color: #39284d;
}

/* 800px para adelante */
@media (min-width: 800px) {

    .allGames-cnt {
        width: 100%;
        /* background-color: rgba(0, 0, 0, 0.427); */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        
        /* column-gap: 15em; */   
    }
}