.navbar-cnt {
    background-color: #0058DD;
    width: 100%;
    height: auto;
}

.navbar-cnt--box{
    display: flex;
    justify-content: space-between;
}

.navbar-cnt_logo {
    /* background-color: #fff; */
    width: 100%;
    height: 5em;
}

.navbar-cnt_logo img {
    /* width: 50%; */
    padding: .5em ;
    height: 5em;
}

.navbar-cnt_menu {
    /* background-color: rgb(217, 217, 217); */
    width: 5em;
    height: 5em;
}


.navbar-cnt_menu img {
    width: 100%;
    padding: 1.5em;    
}


.navbar-toggle {
    /* background-color: rgb(112, 36, 36); */
    background-color: #363636;
    width: 100%;
    height: auto;
}

.navbar-toggle ul {
    /* background-color: #5b77a2; */
    width: 100%;
    height: auto;
}

.navbar-link {
    display: inline-block;
    /* background-color: #fff; */
    width: 100%;
    height: 5em;
    margin: 1.5em 0;
    text-decoration: none;
    list-style-type: none;
}


.navbar-link li {
    /* background-color: #5ba291; */
    background-color: #707070;
    height: 3.6em;
    padding: 1em 0;
    font-size: 1.4em;
    color: #F2F2F2;
}


.fade {
    transition: opacity .5s ease-in-out;
}

.invisible {
    display: none;
}




.navbar-cnt_search {
    /* background-color: red; */
    width: 100%;
    height: 5em;
    padding: .3em ;
    display: flex;
    justify-content: center;

}

/* 800px para adelante */
@media (min-width: 800px) {
    .navbar-cnt {
        background-color: #0058DD;
        display: flex;
    }
    
    .navbar-cnt--box{
        
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
    }
    
    .navbar-cnt_menu {
        display: none;  
    }
    
    

    
    
    .navbar-toggle {
        /* background-color: #363636; */
        background-color: #0058DD;

        
        width: 100%;
        height: 5em;
        justify-content: space-evenly;
        
    }
    
    .navbar-toggle ul {
        /* background-color: #5b77a2; */
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    
    .navbar-link {
        /* background-color: aqua; */
        display: inline-block;
        margin-top: 0;
        width: 10em;
        height: 3.8em;
        margin: .5em .3em;
    }
    
    
    .navbar-link li {
        background-color: #70707069;
        /* background-color: #5ba291; */
        width: 10em;
        height: 3.8em;
        padding: 1.2em 0;
        font-size: 1em;
        color: #F2F2F2;
        margin: 0 .2em;
        transition: .4s;

    }

    .navbar-link li:hover {
        background-color: #707070aa;
        transform: scale(105%);
        /* font-weight: bold; */
        transition: .4s;
    }
    
    
    .fade {
        transition: opacity .5s ease-in-out;
    }
    
    .invisible {
        display: flex;
    }
    
    
    
    
    .navbar-cnt_search {
        /* background-color: red; */
        width: 100%;
        height: 5em;
        padding: .3em ;
        display: flex;
        justify-content: center;
    
    }
}